.box{
    max-width: 300px;
    margin: 30px 30px;
    border-radius: 30px;
    padding: 10px 30px;
    height: 400px;
    background-image: linear-gradient(
        rgb(9, 53, 94),
        rgba(5, 23, 67, 0)
  );
}
.box h2{
    color: white !important;
}
.box p{
    font-size: large;
}
.box:hover{
    cursor: default;
    background-color: rgba(0, 255, 255, 0.531);
} 
.box img{
    margin-top: 40px;
}
